/*--------- list ---------*/
.content-wrapper {
    width: 60%;
    margin: 0 auto 100px auto;
}
.radio-wrapper {
    margin: 30px 0 10px 0;
}
.toast {
    opacity: 1!important;
    width: 100%;
}
a {
    color : inherit;
    text-decoration : none;
}
a:hover {
    color : inherit;
}
.list-input {
    width: 300px;
}
.btn-plus-wrapper {
    margin-top: 3px;
}
.btn-plus {
    width: 38px;
    height: 38px;
}
.star-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.star {
    background-color: white;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 20px;
    color: #cccccc;
    z-index: 10;
}
.favorite {
    color: #E6DA00;
}

/*--------- detail ---------*/
.detail-title-wrapper {
    margin: 30px 0 10px 0;
}
.block1, .block2 {
    display: flex;
    align-items: center;
}
.todo {
    color: white; 
    background-color: #0D6EFD;
    border-radius: 10px;
    padding: 10px;
}
.detail-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}
.sub-title {
    font-size: 90%;
    color: #778ca3;
}




.design01 {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}
.design01 th {
    padding: 5px;
    background: #e9faf9;
    border: solid 1px #778ca3;
}
.design01 td {
    padding: 5px;
    border: solid 1px #778ca3;
}
.design01 tr td:nth-child(1) {
    width:30%;
}
.wrapper {
    width: 70%;
}

/*--------- update.html ---------*/
.update_form {
    width: 100%;
}

/*--------- headder ---------*/
.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
.header-wrapper {
    width: 55%;
}

/*--------- favorite-list ---------*/
.favorite-button-wrapper {
    margin: 30px 0 20px 0;
}
.favorite-none {
    font-size: 1.5rem;
}