/* ------------------------- 
   ------- studylist ------- */
.toast-form {
    margin: 0;
}
.category-input,
.title-input,
.add-list-btn {
    display: inline-block;
    padding: 0;
}
.list-input {
    width: 100%;
}
.content-wrapper {
    width: 60%;
    margin: 0 auto 100px auto;
}
.radio-wrapper {
    margin: 30px 0 10px 0;
}
.toast {
    opacity: 1!important;
    width: 100%;
}
a {
    color : inherit;
    text-decoration : none;
}
a:hover {
    color : inherit;
}
.btn-plus-wrapper {
    margin-top: 3px;
}
.btn-plus {
    width: 38px;
    height: 38px;
}
.star-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.star {
    background-color: white;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 20px;
    color: #cccccc;
    z-index: 10;
}
.favorite {
    color: #E6DA00;
}


/* ------------------------- 
   ------- detail ------- */
.title-wrapper {
    margin: 30px 0 10px 0;
    padding: 0;
}
.title {
    padding: 7px 0 7px 7px;
}
.title-text,
.title-button {
    padding:15px 7px 10px 7px;
    margin-bottom: 0;
}
.detail-title-wrapper {
    margin: 30px 0 10px 0;
}
.todo {
    color: white; 
    background-color: #0D6EFD;
    border-radius: 10px;
    padding: 10px;
}
.detail-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}
.sub-title {
    font-size: 90%;
    color: #778ca3;
}
.update_form {
    width: 100%;
}


/* ------------------------- 
   ------- header ------- */
.header-wrapper {
    width: 60%;
    margin: 0 auto;
}
.header-title {
    line-height: 40px;
}
.header-title p {
    margin: 0;
    vertical-align: middle;
}


/* ------------------------- 
   ---- favorite-list ---- */
.favorite-button-wrapper {
    margin: 30px 0 20px 0;
}
.favorite-none {
    font-size: 1.5rem;
}


@media screen and (max-width: 576px) {
    /* studylist */
    .category-input {
        margin: 8px 0 3px 0;
        padding: 0 10px;
    }
    .title-input {
        margin: 2.5px 0 7px 0;
        padding: 0 10px;
    }
    .add-list-btn {
        width: 100%!important;
        margin-bottom: 10px;
    }

    /* detail */
    .detail-button {
        width: 100%;
    }
    .title-button {
        text-align: center;
    }
    .detail-button {
        display: block;
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* studylist */
    .category-input {
        margin: 10px 0 10px 0;
        padding: 0 2.5px 0 10px;
        line-height: 32px;
    }
    .title-input {
        margin: 10px 0 10px 0;
        padding: 0 2.5px 0 2.5px;
        line-height: 32px;
    }
    .add-list-btn {
        width: 100%!important;
        margin: 10px 0 10px 0;
        padding: 0 10px 0 2.5px;
    }
    .list-input {
        vertical-align: middle;
    }

    /* detail */
    .detail-button {
        width: 31%;
    }
    .title-button {
        text-align: center;
    }
}
@media screen and (min-width: 992px) {
    /* studylist */
    .category-input {
        margin: 10px 0 10px 0;
        padding: 0 2.5px 0 10px;
        line-height: 29px;
    }
    .title-input {
        margin: 10px 0 10px 0;
        padding: 0 2.5px 0 2.5px;
        line-height: 29px;
    }
    .add-list-btn {
        width: 100%!important;
        margin: 10px 0 10px 0;
    }

    /* detail */
    .title-button {
        text-align: right;
    }
}