{% extends 'base.html' %}

{% block header %}

<header class="p-3 bg-dark text-white">
  <div class="container header-wrapper">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>TODOList</li>
        </ul>

        <div class="text-end">
            <button type="button" class="btn btn-warning me-2">お気に入り</button>
            <button type="button" class="btn btn-outline-light">Logout</button> 
        </div>
    </div>
  </div>
</header>

{% endblock header %}

{% block content %}

<h1>DeleteView削除確認画面</h1>
<form method="post">
    {% csrf_token %}
    <p>削除しますか？</p>
    <input class="btn btn-danger" type="submit" value="削除する">
    <a href="{% url 'detail' object.pk %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">詳細へ戻る</a>
</form>

{% endblock content %}


