{% extends 'base.html' %}

{% block header %}

<header class="p-3 bg-dark text-white">
  <div class="container header-wrapper">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>TODOList</li>
        </ul>

        <div class="text-end">
            <button type="button" class="btn btn-warning me-2">お気に入り</button>
            <button type="button" class="btn btn-outline-light">Logout</button> 
        </div>
    </div>
  </div>
</header>

{% endblock header %}

{% block content %}
<div class="wrapper mx-auto my-5">
    <div class="d-flex mb-2">
        <h5 class="mb-0 me-1">{{ object.title }}</h5>
        {% if object.finishFlg %}
            <span class="badge bg-success mb-0">完了</span>
        {% else %}
            <span class="badge bg-warning text-dark mb-0">未完了</span>
        {% endif %}
    </div>
    <table class="design01 mb-3">
      <tr>
      <td>内容</td>
      <td>{{ object.detail }}</td>
      </tr>
      <tr>
      <td>登録日</td>
      <td>{{ object.created }}</td>
      </tr>
      <tr>
      <td>カテゴリー</td>
      <td>{{ object.category }}</td>
      </tr>
    </table>
    <a href="{% url 'update' object.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">編集</a>
    {% if object.finishFlg %}
        <a href="{% url 'changefinish' object.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">未完了にする</a>
    {% else %}
        <a href="{% url 'changefinish' object.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">完了にする</a>
    {% endif%}
    <a href="{% url 'delete' object.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a>
    <a href="{% url 'studylist' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">一覧へ戻る</a>
</div>

{% endblock content %}