{% extends 'base.html' %}

{% block header %}
<header class="p-3 bg-dark text-white sticky-top">
  <div class="header-wrapper">
      <div class="row">
          <div class="header-title col-12 col-md-6">
              <p>TODO List</p>
          </div>
          <div class="col-12 col-md-6 text-end">
              <a href="{% url 'studylist' %}" class="btn btn-outline-light me-2">TOP</a>
              <a href="{% url 'logout' %}" class="btn btn-outline-light">Logout</a>
          </div>
      </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<div class="content-wrapper">
  <div class="favorite-button-wrapper">
      <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-secondary">お気に入りを全て解除</button>
      </form>
  </div>
  {% if object_list|length == 0 %}
      <p class="favorite-none">お気に入りに登録されているタスクはありません。</p>
  {% endif %}
  {% for study in object_list %}

        <div class="toast my-1" role="alert" aria-live="assertive" aria-atomic="True">
          <a href="{% url 'detail' study.pk %}">
            <div class="toast-body">
                <div class="toast-xontent d-flex justify-content-between">
                    <div>
                        <p class="my-0">{{ study.category }} ： {{ study.title }}</p>
                        <p class="my-0">
                          {% if study.finishFlg %}
                              <span class="badge bg-success mb-0">完了</span>
                          {% else %}
                              <span class="badge bg-warning text-dark mb-0">未完了</span>
                          {% endif %}
                        </p>
                    </div>
                </div>
            </div>
          </a>
        </div>
  {% endfor %}
</div>

{% endblock content %}