{% extends 'base.html' %}
{% load static %}

{% block header %}
<header class="p-3 bg-dark text-white sticky-top">
    <div class="header-wrapper">
        <div class="row">
            <div class="header-title col-12 col-md-6">
                <p>TODO List</p>
            </div>
            <div class="col-12 col-md-6 text-end">
                <a href="{% url 'favorite_list' %}" class="btn btn-warning me-2">お気に入り</a>
                <a href="{% url 'logout' %}" class="btn btn-outline-light">Logout</a>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="content-wrapper">
    <div class="radio-wrapper">
        <form method="post" action="" id="sort-form">
            {% csrf_token %}
            <input type="radio" name="q1" value="0" onclick='radio_click()' id="radio0"> すべて<span>　</span>
            <input type="radio" name="q1" value="1" onclick='radio_click()' id="radio1"> 完了<span>　</span>
            <input type="radio" name="q1" value="2" onclick='radio_click()' id="radio2"> 未完了
            <input type="submit" value="" id="ch_servings_submit" style="display:none;">
        </form>
    </div>

    {% for study in object_list %}
        <div class="toast my-1" role="alert" aria-live="assertive" aria-atomic="True">
        <a href="{% url 'detail' study.pk %}">
            <div class="toast-body">
                <div class="toast-xontent d-flex justify-content-between">
                    <div>
                        <p class="my-0">{{ study.category }} ： {{ study.title }}</p>
                        <p class="my-0">
                        {% if study.finishFlg %}
                            <span class="badge bg-success mb-0">完了</span>
                        {% else %}
                            <span class="badge bg-warning text-dark mb-0">未完了</span>
                        {% endif %}
                        </p>
                    </div>
                    <div class="star-wrapper">
                        <form id="{{ study.id }}" action="{% url 'favorite' study.id %}" method="GET">
                            {% if study.favorite %}
                                <input type="submit" value="&#xf005;" id="star-{{ study.id }}" class="star fa favorite">
                            {% else %}
                                <input type="submit" value="&#xf005;" id="star-{{ study.id }}" class="star fa">
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </a>
        </div>
    {% endfor %}

    <form action="" method="POST" id="list_add" class="toast row toast-form">
        {% csrf_token %}
        <div class="category-input col-12 col-sm-4 col-lg-5">
            <input type="text" id="cal" name="category" value="" placeholder="カテゴリ" class="list-input">
        </div>
        <div class="title-input col-12 col-sm-4 col-lg-5">
            <input type="text" id="cal" name="title" value="" placeholder="タイトル" class="list-input">
        </div>
        <div class="col-12 col-sm-4 col-lg-2">
            <input class="add-list-btn btn btn-primary fa btn-plus" type="submit" value="&#x2b;">
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="{% static 'want2studyApp/js/list.js' %}"></script>
<script>
$(document).ready( function(){
    if ("{{ sort }}" == '0') {
        document.getElementById('radio0').checked = true
    } else if ("{{ sort }}" == '1') {
        document.getElementById('radio1').checked = true
    } else if ("{{ sort }}" == '2') {
        document.getElementById('radio2').checked = true
    }
});
</script>

{% endblock content %}