{% extends 'base.html' %}
{% load widget_tweaks %}

{% block header %}

<header class="p-3 bg-dark text-white">
  <div class="container header-wrapper">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>TODOList</li>
        </ul>

        <div class="text-end">
            <button type="button" class="btn btn-warning me-2">お気に入り</button>
            <button type="button" class="btn btn-outline-light">Logout</button> 
        </div>
    </div>
  </div>
</header>

{% endblock header %}


{% block content %}
<div class="wrapper mx-auto my-5">
    <form action="" method="POST">
        {% csrf_token %}

        <table class="design01 mb-3">
          <tr>
          <td>タイトル</td>
          <td>{{ form.title|add_class:'update_form' }}</td>
          </tr>
          <tr>
          <td>内容</td>
          <td>{{ form.detail|add_class:'update_form' }}</td>
          </tr>
          <tr>
          <td>カテゴリー</td>
          <td>{{ form.category|add_class:'update_form' }}</td>
          </tr>
        </table>
        <input type="submit"  class="btn btn-primary" value="更新">
        <a href="{% url 'detail' object.pk %}" button type="button" class="btn btn-secondary">戻る</a>
    </form>
</div>

{% endblock content %}